* {
  box-sizing: border-box;
  margin: 0;
}

.typography {
  font-family: "IBM Plex Mono", serif;

  &.text-center {
    text-align: center;
  }
  &.body-lg {
    font-size: 2rem;
  }

  &.body-sm {
    font-size: 1rem;
  }

  &.input-label {
    font-size: .85rem;
  }

  &.button-label {
    font-size: 1rem;
  }
}
