* {
  box-sizing: border-box;
  margin: 0;
}

.root-layout {
  padding: 3rem 2rem;
}

.page {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
}

button {
  height: 2.5rem;
  background-color: rgb(61, 61, 61);
  color: white;
}

.typography {
  font-family: "IBM Plex Mono", serif;

  &.text-center {
    text-align: center;
  }

  &.body-lg {
    font-size: 2rem;
  }

  &.body-sm {
    font-size: 1rem;
  }

  &.input-label {
    font-size: .85rem;
  }

  &.button-label {
    font-size: 1rem;
  }
}